<div class="blogs-wrapper row">
  <% @blogs.each do |blog| %>
    <div class="blog">
      <div class="blog-head">
        <div class="name">
          Ben Walker
        </div>
      </div>
      <div class="image center-block">
        <%= link_to image_tag(blog.image.url(:medium)), blog_path(blog), class:'img-responsive' %>
      </div>
      <p class="description">
        <%= blog.description %>
      </p>
    </div>
  <% end %>
</div>
