<div class="blogs-wrapper row">
    <div class="blog">
      <div class="blog-head">
        <div class="name">
          Ben Walker
        </div>
      </div>
      <div class="image center-block">
        <%= image_tag @blog.image.url(:medium), class:'img-responsive' %>
      </div>
      <p class="description">
        <%= @blog.description %>
      </p>
      <div class="text-center edit-links">
        <%= link_to "Cancel", blogs_path %>
        |
        <%= link_to "Edit Post", edit_blog_path(@blog) %>
      </div>
    </div>
</div>
